body.main-homepage 
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007BFF;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    background-color: #0056b3;
    padding: 10px;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    margin: 20px;
    padding: 20px;
}

main section {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
}
